@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    color:grey;
    font-size: 20px;
}
/* HOVER */
.card1:hover{
    opacity:1;
    cursor: pointer;
}

/* BUTTON */
button{
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    border:none;
    border-radius: 20px;
}
.contenuto_jumbo button,
.jumbo2 button{
    background-color: #CD3D0F;
}
.section2 button,
.section5 button{
    background-color:#2C64E6;
}
.section6 button{
    background-color:#D9DADC;
    color:#2C64E6 ;
}
.section8 button{
    background-color: #fff;
    color: black;
}
/* SECTION */

/* section jumbo */
.jumbo{
    height: 800px;
    min-height: 800px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position:center ;
    color: #fff;
    padding-bottom: 50px;
}
/* section1 possibilità */
.section1 img {
    border-radius: 20px;
}
.img_border{
    border: solid 2px #1878F3 ;
    border-radius: 20px;
    padding: 3px;
}
/* section2 console */
.section2 .console{
    border-bottom: solid 2px #2C64E6;
}
.section2 .ms_row p{
    font-size: 16px;
}
.card1{
    opacity:0.5 ;
}
/* section3 jumbo2 */
.jumbo2{
    height: 800px;
    min-height: 800px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position:center ;
    color: #fff;
    padding-bottom: 50px;
}
/* section4 nuove uscite */
.section4{
    background-color: #202020;
    color: #fff;
}
.section4 img{
    border-radius: 20px;
}
.section4 h5{
    margin-top: 20px;
}
/* section6 playstation plus */
.section6{
    background-color: #BEBCBB;
}
/* section8 playstation now */
.section8{
    background-color: #171C3B;
}

