@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    color:grey;
    font-size: 20px;
}
button{
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
}
/* section jumbo */
.jumbo{
    height: 800px;
    min-height: 800px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position:center ;
    color: #fff;
    padding-bottom: 50px;
}
.contenuto_jumbo button{
    background-color: #CD3D0F;
}
/* sezione1 possibilità */
.section1 img {
    border-radius: 20px;
}
.img_border{
    border: solid 2px #1878F3 ;
    border-radius: 20px;
    padding: 3px;
}
/* sezione2 console */
.section2 button{
    background-color:#2C64E6;
}
